@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: local('☺'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@import "nullstyle.scss";

body{
}
.page-container {
    margin: auto;
    max-width: 1440px;
    background-color: rgba(236, 241, 248, 0.4);
    mix-blend-mode: normal;
}

.header {
    background-color: #FFFFFF;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
    padding: 0 135/1440*100%;
    display: flex;
    justify-content: space-between;

    &__left {
        padding:24px 0  ;
    }
    &__right {
        display: flex;
        padding: 20px 0;
        position: relative;

    }
    &__action-button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
        position: absolute;
        bottom: -32px;
        right: 0;

        &::after {
             content: " ";
             position: absolute;
             display: block;
             background-color: #fff;
             height: 20px;
             width: 2px;
             margin: -10px 0 0 31px; 
        }
         &::before {
            content: " ";
            position: absolute;
            display: block;
            background-color: #fff;
            width: 20px;
            height: 2px;
            margin: -1px 0 0 22px;
         }   
        
    }
}
.logo {
    margin-bottom: 25px;
    &__img {}
}
.menu {
    width: 260px;

    &__link {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #3E4056;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
    &__link-active {
        opacity: 1; 
        position: relative; 

        &:after{
            content:'';
            display: block;
            position: absolute;
            height: 4px;
            background-image: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
            width: 100%;
            bottom:-24px;

        }
    }
}

.menu-nav {

    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.profile{
    display: flex;
    vertical-align: sub;
    &__name{
        line-height: 32px;
        margin-right: 20px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #3E3F58;
        letter-spacing: -0.5px;

    }
    &__photo {
        margin-right: 15px;
    }
    &__dropdown{
      height: 32px;
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
    &__dropdown-btn{
        width: 16px;
        height: 16px;
        background-image: url(../img/a_icon_arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        opacity: 0.7;
    }
    &__btns-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        height: 32px;

        
    }
    &__btn-notofication {
         width: 16px;
         height: 16px;
         background-image: url(../img/bell.svg);
         background-repeat: no-repeat;
         background-position: center center;
         background-color: transparent;
    }
    &__btn-share {
         width: 16px;
         height: 16px;
         background-image: url(../img/share_recap.svg);
         background-repeat: no-repeat;
         background-position: center center;
         background-color: transparent;
         
    }
    &__btn-medium {
         width: 16px;
         height: 16px;
         background-image: url(../img/medium.svg);
         background-repeat: no-repeat;
         background-position: center center;
         background-color: transparent;
    }
}

.page-inner {
    padding: 72px 135px;
    display: flex;
}

.user {
    display: flex;

    &__sidebar {
        width: 350px;
        margin-right: 60/1440*100%;
    }

    &__details {
        display: flex;
        margin-bottom: 32px;
        position: relative;

    }
    &__name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #3E3F58;
        margin-bottom: 8px;
    }

    &__avatar {
        width: 120px;
        height: 120px;
        margin-right: 24px;
    }

    &__info-box {
        width: 145px;
    }

    &__insta-link {
        margin-bottom: 16px;
        & a {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: -0.5px;
            color: #3E3F58;
        }
    }

    &__edit-profile {
        display: flex;
        & a{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
            color: #F05D63;
        }
        .edit-profile__icon {
            
            width: 20px; 
            height: 20px;
            margin-right: 8px;
            background-image: url(../img/edit_icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__followers, &__description {
        & p{
            font-family: 'Open Sans',
            sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #3E3F58;
        }
        & h3{
            font-family: 'Open Sans',
            sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #3E3F58;
        }


    }

    &__followers p {
        color: #636363;
    }

    &__followers__list{
        display: flex;
        margin-bottom: 24px;
    }
    &__followers-item {
        margin-right: 48px;
        text-align: center;
        
    }

}

.user__box_header{
    display: flex;
}
.user__menu{
    position: relative;
    width: 176;
    padding: 24px 0;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.94;
    backdrop-filter: blur(21.7463px);
    border-radius: 8px;
}

.user__menu-icon{
    position:absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_3_dots_menu.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    top: 0px;
    left: 30px;
}

.user__menu__dropdown{
    width: 176px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.94;
    backdrop-filter: blur(21.7463px);
    border-radius: 8px;
    position: absolute;
    left: 22px;
    top: 49px;
    padding: 24px 0;
}



        
.user__menu__item {
    display: flex;
    align-items: center;
    padding: 8px 24px;
             
    a {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #3E4056;
        opacity: 1;
    }

        
}

.user__menu__item:hover {
    background-color: rgba(236, 241, 248, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(54.3656px);
}
    


.report__icon {
            background-image: url(../img/icon_report.svg);
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
}
    
    
.block-user {
        display: flex;
   
        &__icon {
              background-image: url(../img/icon_block.svg);
              width: 20px;
              height: 20px;
              margin-right: 8px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 20px 20px;
        }
}

.switcher {
        width: 200px;
        margin-bottom: 62px;
    &__items {
        display: flex;
        justify-content: space-between;
        
    }   
    
    &__box{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #3E4056;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    &__slider {

        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ED5267;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }
    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    &__slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    
    input:checked+&__slider {
        background-color: #ED5267;
    }
    
    input:focus+&__slider {
        box-shadow: 0 0 1px #ED5267;
    }
    
    input:checked+&__slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }
}

.card-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 772px;

}
.card {

    max-width: 374px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 0 24px 0;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;

    mix-blend-mode: normal;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        p {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #3E4056;
            text-align: center;
        }
        .share-desc-text{
            background: #ECF1F8;
            border-radius: 6px;
            height: 24px;
            text-align: center;
            padding: 0 4px;
        }
        .share-desc{
            display: flex;
            align-items: center;
        }
        .share-desc-icon{
            width: 20px;
            height: 20px;
            background-image: url(../img/icon_link.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
            margin-right: 4px;
        }
    }

    &__content {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;

        color: #3E4056;
    }


    &__footer {

        display: flex;
        width: 100%;
        align-items: center;
        align-self: flex-end;
        justify-content: space-between;

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #3E4056;

        &_right a {
           font-family: 'Open Sans', sans-serif;
           font-style: normal;
           font-weight: normal;
           font-size: 18px;
           line-height: 25px;
           color: #F05D63;
        }
    }
    &__autor {
        display: flex;
        align-items: center;
    }
    &__autor-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #B2B3BB;
        margin-right: 8px;
    }

    &__stats {
        display: flex;
        width: 96px;
        justify-content: space-between;

        
    }
    &__view{
        margin-right: 16px;
    }
    &__view, &__like{
        display: flex;
        align-items: center;
    }
    .view-icon {
        background-image: url(../img/icon_view.svg);
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
    }
    .like-icon {
        background-image: url(../img/icon_like.svg);
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
    }
}

@media (max-width:1400px) {

}

@media (max-width:992px){

}
@media (max-width:767px) {

}


